html,
body {
    height: 100%;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

img {
    object-fit: contain;
    max-width: 100%;
}

.primary-image {
    height: 300px;
}

.images {
    height: 150px;
}

h1{
    margin-top: 3%;
    text-align: center;
}

.nav-transition-wrapper {
    display: grid !important;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.35s ease-in-out;
    overflow: hidden;
    }

.nav-transition-wrapper.show {
    grid-template-rows: 1fr !important;
}

@media (min-width: 992px) {
    .nav-transition-wrapper {
        grid-template-rows: 1fr !important;
        overflow: visible !important;
    }
}

.nav-transition-inner {
    min-height: 0;
}